<h1>Listing ca_lotto_numbers</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Bonusnumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ca_lotto_numbers.each do |ca_lotto_number| %>
  <tr>
    <td><%= ca_lotto_number.number %></td>
    <td><%= ca_lotto_number.bonusNumber %></td>
    <td><%= link_to 'Show', ca_lotto_number %></td>
    <td><%= link_to 'Edit', edit_ca_lotto_number_path(ca_lotto_number) %></td>
    <td><%= link_to 'Destroy', ca_lotto_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ca lotto number', new_ca_lotto_number_path %>
